# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# compiled executable
archive.tar
worley

# output file
*.txt
*.csv
*.out

# codeblocks
*.cbp
